
.visible{
display: none;
}

#video-gallery {
  display: block;
}

.display-none {
  display:none
}

.writen-visible {
  display: block;
}

#article-gallery {
  display: block;
  
}