
.visible{
display: none;
}

#video-gallery {
  display: block;
  padding: 2rem;
}



.writen-visible {
  display: block;
  padding: 2rem;
}

#article-gallery {
  display: block;

}